body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#jatek {
    display: grid;
    gap: 10px;
    max-width: 95vw;
    margin: 20px auto;
    transition: transform 0.5s ease;
}

.kartya {
    width: 100%;
    aspect-ratio: 1/1;
    perspective: 1000px;
    cursor: pointer;
}

.belso {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.kartya.megforditva .belso {
    transform: rotateY(180deg);
}

.elol,
.hatul {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elol {
    background: #444;
}

.hatul {
    background: #eee;
    transform: rotateY(180deg);
}

.hatul img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

#uzenet {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: green;
}

.info {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
    font-size: 18px;
}

.keveres {
    animation: shuffle 0.6s ease-in-out 3;
}

@keyframes shuffle {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(5deg) scale(1.05);
    }

    50% {
        transform: rotate(-5deg) scale(0.95);
    }

    75% {
        transform: rotate(3deg) scale(1.02);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.menu {
    margin-top: 10px;
    font-weight: bold;
}

select {
    padding: 5px 10px;
    font-size: 16px;
}